body{
	background-color:#ffffff;
}

header div{
	text-align:center;
	margin:0 auto 10px auto;
	}

header img{
	border:solid 1px #ffffff;
	background-color:#728ED6;
	box-shadow: 2px 2px 4px #000000;
	width:83%;
}

/*alterando o article de todas as paginas*/
article{
	margin:0 auto 10px auto;
	border:solid 1px #ffffff;
	padding:20px;
	box-shadow: 2px 2px 4px #000000;
	width:80%;
	text-align:justify;
	overflow:auto;
	
}

article h1,h2{
	text-align:center;
	font-family:'Arial';
}

article div figure {
	text-align:center;
	margin:5px;
	
}

article figure .logo{
	width:220px;
	height:220px;
	margin:5px;
	box-shadow: 2px 2px 4px #000000;
}

artile div .logo{
	max-width:230px;
	max-height:230px;
	margin:0 auto 0 auto;
	text-align:center:
}

article figure .fatec{
	width:80%;
	height:70%;
	box-shadow: 2px 2px 4px #000000;
	text-align:center;
	margin:10px;
}

iframe{
	width:100%;
	height:450px;
}

div .conteudo{
	box-shadow:1px 1px 3px #000000; 
	height:200px;
	width:200px;
	text-align:center;
	margin:10px;
	display:inline;
	float:left;
	padding:5px;
	
	
	
}

div .conteudo img{	
	width:150px;
	height:150px;
	margin:0px;
	
}
textarea,select{
	display:block;
	margin-bottom:10px;
	margin-left:10px;
	width:70%;	
}
input{
	display:block;
	margin-bottom:10px;
	margin-left:10px;
	width:30%;
	
}

input.dis_inline{
	display:inline-block;
}

div form{
	width:100%;
}


/**fim da alteracao do article/


/*Começo Menu*/
.menu{
	background:#728ED6;
	box-shadow:1px 1px 3px #000000; 
	margin:0 auto 10px auto;
	width:83%;
	min-height:20px;
	text-align:center;
	
}
.menu li{
	display:inline-flex;
	margin-left:20px;
	font-size:20px;
	
	
}
.menu li a{
	color:#000000;
	text-align:center;
	padding:18px;
}

.menu li a:hover{
	color:#ffffff;
	padding:20px;
	background:#01002E;
	font-size:20px;
}

/*Fim Menu*/


footer{
	clear:both;
	text-align:center;
	border:solid 1px #ffffff;
	background-color:#728ED6;
	box-shadow: 2px 2px 4px #000000;
	margin:0 auto 0 auto;
	width:80%;
	padding:20px;
}
