body{
	background-color:#ffffff;
}

header div{
	text-align:center;
	margin:0 auto 0 auto;
	}

header img{
	border:solid 1px #ffffff;
	background-color:#728ED6;
	box-shadow: 2px 2px 4px #000000;
	margin:0 auto 0 auto;
	width:83%;	
}

/*alterando o article de todas as paginas*/
article{
	margin:0 auto 0 auto;
	border:solid 1px #ffffff;
	padding:20px;
	box-shadow: 2px 2px 4px #000000;
	width:80%;
	text-align:justify;
	overflow:auto;
	
}

article h1,h2{
	text-align:center;
	font-family:'Arial';
}

article div figure {
	text-align:center;
}

article figure .logo{
	width:220px;
	height:220px;
	margin:10px;
	box-shadow: 2px 2px 4px #000000;
}

artile div .logo{
	width:230px;
	height:230px;
	margin:0 auto 0 auto;
	text-align:center:
}

article figure .fatec{
	width:800px;
	height:400px;
	box-shadow: 2px 2px 4px #000000;
	text-align:center;
	margin:10px;
}

iframe{
	width:1024px;
	height:450px;
}

div .conteudo{
	box-shadow:1px 1px 3px #000000; 
	height:200px;
	width:200px;
	text-align:center;
	margin:10px;
	display:table;
	float:left;
	padding:5px;
	
	
}

div .conteudo img{	
	width:150px;
	height:150px;
	
}
input,textarea,select{
	display:block;
	margin-bottom:10px;
	margin-left:10px;
	
}
input.dis_inline{
	display:inline-block;
}



/**fim da alteracao do article/

/*Começo Menu*/
*{
	margin:0;
	padding:0;
}

#check{
	display:none;
	
	
}
#icone{
	cursor:pointer;
	padding:15px;
	position:fixed;
	z-index:1;
}

.barra{
	background-color:#728ED6;
	height:100%;
	width:300px;
	position:fixed;
	transition:all .2s linear;
	left:-300px;
}
nav{
	
	width:100%;
	position:absolute;
	top:60px;
	
}
nav a{
	text-decoration:none;
}
.link{
	background-color:#234496;
	padding:20px;
	font-family:'Arial';
	font-size:12pt;
	transition:all .2s linear;
	color:#f4f4f9;
	border-bottom:2px solid #222;
	opacity:0;
	
}

.link:hover{
	background-color:#172D63;
}

#check:checked ~ .barra{
	transform: translateX(300px);
}
#check:checked ~ .barra nav a .link{
	opacity:1;
	
	transition-delay:.1s;
}
/*Fim Menu*/


footer{
	clear:both;
	text-align:center;
	border:solid 1px #ffffff;
	background-color:#728ED6;
	box-shadow: 2px 2px 4px #000000;
	margin:0 auto 0 auto;
	width:80%;
	padding:20px;
}
